spring:
  datasource:
    url: jdbc:mysql://localhost:${LOCAL_MYSQL_PORT}/scbj?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${LOCAL_MYSQL_USERNAME}
    password: ${LOCAL_MYSQL_PASSWORD}


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379


  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_SERVICE_USERNAME}
    password: ${EMAIL_SERVICE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000


jwt:
  secret: KF81YSUjd3Q3KCFfaXd6cHlwMyNAKitkamFtYj02OXh2X3JfN2sqZShyamQrZysoXzVhJSN3dDcoIV9pd3pweXAzI0AqK2RqYW1iPTY5eHZfcl83ayplKHJqZCtnKw==   # Replace with your actual secret key
  expiration: 3600000       # Replace with your desired expiration time in milliseconds
  refreshExpiration: 604800000 # Replace with your desired refresh expiration time in milliseconds
  redisRefreshKeyPrefix: "Refresh-token:" # Replace with your desired Redis refresh key prefix


kakao-api:
  api-key: ${API-KEY}
  base-url: ${BASE-URL}


iamport:
  apikey: ${IAMPORT_API_KEY}
  secretkey: ${IAMPORT_SECRET_KEY}


fcm:
  request-url: "https://fcm.googleapis.com/v1/projects/scbj-af2e3/messages:send"
  credential-path: "/credential/fcm-service-key.json"
  scope : "https://www.googleapis.com/auth/cloud-platform"